{% extends "base.html" %}

{% block content %}
<h1 class="title-map">Map</h1>

<!-- TODO: Add a button to update map list -->
<!-- Funciton: search folder name under "map" folder, update database -->

<table class ="list">
    <tr class ="list">
        <th class ="list">Field</th>
        <th class ="list">Measurement</th>
    </tr>
    {% for m in lstMap %}
    <tr class ="list">        
        <td class ="list">{{ m }} </td>
        <td class ="list list-Measurement">
            <a href="{{ url_for('tracking', mapName = m, measure = 'H1ppt') }}" class="btn-intable">H1ppt</a>
            <a href="{{ url_for('tracking', mapName = m, measure = 'P1ppt') }}" class="btn-intable">P1ppt</a>
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
