{% extends "base.html" %}

{% block content %}
<h1 class="title-map">Map</h1>
<!-- Use a button to represent a table at the moment -->
<!-- <ul class="buttons">
    <li>
        <p>{{ lstMap }} {{ lstMap[0].mapName}}</p>
        <a href="{{ url_for('tracking') }}">view</a>
    </li>
</ul> -->

<table class ="list">
    <tr class ="list">
        <th class ="list">Field</th>
        <th class ="list">Operation</th>
    </tr>
    {% for m in lstMap %}
    <tr class ="list">        
        <td class ="list">{{ m.mapName }} </td>
        <td class ="list">
            <a href="{{ url_for('tracking') }}" class="btn-intable">Use</a>
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
